<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner" parallel="classes" thread-count="2">
    <test name="MatchesFashion Tutorial">
        <packages>
            <package name="com.cucumber.MatchesFashion.base_files.runners.*"/>
        </packages>
    </test>
</suite>